name: Gunadarma News Scraper

on:
  schedule:
    - cron: '*/15 * * * *' # Cek setiap 15 menit
  workflow_dispatch: # Tombol Manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Scraper
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python main.py

      - name: Commit Data Changes # Simpan riwayat agar tidak kirim berita berulang
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add data/last_updates.json
          git commit -m "Update news history" || echo "No changes to commit"
          git push