name: Gunadarma News Scraper

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

# TAMBAHKAN INI: Biar bot punya izin nulis file
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Scraper
        env:
          BAAK_WEBHOOK: ${{ secrets.BAAK_WEBHOOK }}
          LEPKOM_WEBHOOK: ${{ secrets.LEPKOM_WEBHOOK }}
          STUDENTSITE_WEBHOOK: ${{ secrets.STUDENTSITE_WEBHOOK }}
        run: python main.py

      - name: Commit Data Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # Kita cuma simpan history berita, folder __pycache__ kita abaikan
          git add data/last_updates.json
          git commit -m "Update news history [skip ci]" || echo "No changes to commit"
          git push origin main