name: Gunadarma News Scraper

on:
  schedule:
    - cron: '0 * * * *'  # OTOMATIS RUN SETIAP 1 JAM
  workflow_dispatch:      # Tombol Manual

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright Browsers
        run: |
          playwright install chromium
          playwright install-deps chromium

      - name: Run Scraper
        env:
          BAAK_WEBHOOK: ${{ secrets.BAAK_WEBHOOK }}
          LEPKOM_WEBHOOK: ${{ secrets.LEPKOM_WEBHOOK }}
          STUDENTSITE_WEBHOOK: ${{ secrets.STUDENTSITE_WEBHOOK }}
        run: python main.py

      - name: Commit Data Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add data/last_updates.json
          git commit -m "Update news history [skip ci]" || echo "No changes to commit"
          git push origin main