name: Gunadarma News Scraper

on:
  schedule:
    # Mengecek setiap 15 menit agar info tetap relevan dan cepat sampai
    - cron: '*/15 * * * *' 
  workflow_dispatch: # Agar kamu bisa klik "Run" manual kapan saja
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Scraper
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }} # Token rahasia kamu
        run: python main.py